@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

@keyframes createItem {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#todolist {
  margin: 3rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#todolist .btn {
  border: none;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #707070;

  padding: 1.1rem 0;
}

#todolist h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
}

#todolist h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

#todolist .emptylist {
  margin-top: 2.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  font-style: italic;
  opacity: 0.8;
}

#todolist ul {
  margin-top: 2.6rem;
  list-style: none;
}

#todolist .todolist-move {
  transition: transform 1s;
}

#todolist li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 0rem 2rem;
  justify-content: flex-start;
  align-items: center;
  background: rgba(112, 112, 112, 0.05);

  opacity: 0;
  transform: translateX(-100%);
  animation: createItem 0.3s ease-out 0s forwards;
}

.label-container {
  width: 100%;
  display: flex;
  align-items: center;
}

#todolist .actions {
  flex-shrink: 0;
}

#todolist .actions.actions-left {
  padding-left: 1rem;
}

#todolist .actions.actions-right {
  padding-right: 1rem;
}

#todolist .label {
  position: relative;
  transition: opacity 0.2s linear;
  /* width: 100%; */
}

#todolist .done .label {
  opacity: 0.6;
}

#todolist .done .label:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #707070;
  animation: strikeitem 0.3s ease-out 0s forwards;
}
